* {
margin:0;
padding:0;
box-sizing: border-box;
}
html, body {
  height: 100%;
  width:100%;
  background-color:#EDE7DB ;
  overflow: auto;
  
}
body::-webkit-scrollbar{
    display: none;
}
a {
  text-decoration: none;
}

header{
    height: 80px;
    width: 100%;
    padding: 30px 70px;
}
header nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav h1{
    font-weight: 800;
    font-size: 33px;
    font-family: 'Courier New', Courier, monospace;
      color: #EDE7DB;
      -webkit-text-stroke: 0.5px #71422E;

}
nav ul{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}
ul li{
    list-style: none;
}
li button{
    padding: 12px 25px;
    border-radius: 25px;
    background-color: #71422E;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
li a{
      color: #71422E;
      font-weight: 700;

}
main{
    height: 100%;
    width: 100%;
}
main .hero-section{
    height: 100vh;
    width: 100%;
    background-image: url(https://i.pinimg.com/736x/6f/e1/11/6fe111d94ca6ab10e81c9bd96328a82d.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;


}
.hero-section .hero-content{
    height: 44%;
    width: 30%;
    background-color: transparent;
      display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: linear-gradient(rgba(246, 241, 232, 0) 60%, #f6f1e8 100%);

    /* background-color: #ede7db42; */
    border-radius: 10px;
}
.hero-content h2{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.1;
}
.hero-content p{
    text-align: center;
    width: 78%;
}
.hero-content button{
     padding: 13px 45px;
    border-radius: 55px;
    background-color: #71422E;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
main .second-section{
    height: 100%;
    width: 100%;
    background-color: #EDE7DB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
}
.second-section .upper{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.upper h3{
    font-size: 44px;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.upper p{
    width: 50%;
    text-align: center;
}
.second-section .lower{
    height: 73%;
    width: 85%;
    display: flex;
    justify-content: space-between;

}
.lower .card{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f1e8;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}
.card img{
    height: 60%;
    width: 100%;
    object-fit: cover;
}
.card h2{
    font-size: 24px;
    font-weight: 500;
    font-family: fantasy;
}
.card p{
    text-align: center;
    width: 80%;
}
.card button{
        padding: 13px 45px;
    border-radius: 55px;
    background-color: #71422E;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}