* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
html {
  font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1rem);
}

$color-text: #fff;
$color-bg: #ffffff98;
$color-border: #fff;
@mixin flex-container($direction: row) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
}
@mixin button {
  padding: 0.8rem 2.5rem;
  background-color: #fff;
  color: #00754a;
  border-radius: 2rem;
  outline: none;
  border: none;
}
main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  @include flex-container();

  .hero-section {
    margin-top: 5rem;
    width: 100%;
    @include flex-container(column);
    gap: 2.4rem;
    .top {
      width: 100%;
      @include flex-container(row);
      justify-content: space-between;
      padding: 1.8rem 2.3rem 1.4rem 2.3rem;
      background-color: #32462f;
      color: $color-text;
      h2 {
        font-size: 1.3rem;
        font-weight: 600;
      }
      button {
        padding: 0.6rem 1.7rem;
        border-radius: 1.5rem;
        background: transparent;
        border: 2px solid $color-border;
        color: $color-text;
        outline: none;
        font-weight: 600;
      }
    }
    .bottom {
      width: 100%;
      @include flex-container(column);
      .first {
        width: 100%;
      }
      .second {
        @include flex-container(column);
        justify-content: space-between;
        gap: 2.7rem;
        background-color: #9d0024;
        color: $color-text;
        padding: 1.5rem;
        h3 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 1.6;
          text-align: center;
          width: 95%;
          font-weight: 500;
        }
        button {
          @include button();
          font-size: 1.1rem;
          font-weight: 700;
        }
      }
    }
  }
}
// media queries

@media (min-width: 1024px) {
  main .hero-section .top {
    padding: 2.2rem 2.3rem 1.4rem 2.3rem;
  }
  main .hero-section .top h2 {
    font-size: 1.5rem;
  }
  main .hero-section .top button {
    font-size: 1.4rem;
    border-radius: 2rem;
  }
}
@media (min-width: 601px) {
  main .hero-section .top {
    justify-content: center;
    gap: 2rem;
  }
  main .hero-section .bottom {
    flex-direction: row;
    background-color: #9d0024;
    padding: 1.5rem 0rem;
  }
  main .hero-section .bottom .first {
    width: 50%;
  }
  main .hero-section .bottom .second {
    padding: 0 0.5rem;
  }
  main .hero-section .bottom .second h3 {
    width: 70%;
    text-align: center;
  }
  main .hero-section .bottom .second p {
    width: 70%;
    text-align: center;
    line-height: 1.8;
  }
}

@media (min-width: 1200px) {
  main .hero-section .bottom {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0;
  }

  main .hero-section .bottom .first,
  main .hero-section .bottom .second {
    flex: 1;
  }
  main .hero-section .bottom .second {
    padding: 2rem 0;
  }
}
