@font-face {
    font-family: beautiful people;
    src: url(/Assignments/First/BeautifulPeoplePersonalUse-dE0g.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url(https://i.pinimg.com/736x/62/e7/77/62e7776a662744b70a81f7bd191f6518.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container h1{
    font-family: beautiful people;
    color: #fff;
    font-size: 30px;
}
.container button{
    padding: 12px 24px;
    border: 2px solid #F1705E;
    outline: none;
    font-size: 20px;
    background: transparent;
    margin-top: 20px;
    color: #67FBFE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.container button:hover{
    background: #fff;
    color: #F1705E;
    border: 2px solid #67FBFE;
}